/* https://github.com/apexcharts/apexcharts.js/issues/1881 */
.grid-widget-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.grid-widget {
    flex: 1;
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    min-height: 0;
    width: 100%;
    overflow: auto;
}

.chart-wrapper {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.apexcharts-tooltip {
    box-shadow: none !important;
    background-color: var(--secondary-background-color) !important;
    border: 1px solid var(--border-color) !important;
    text-align: center !important;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 700 !important;
}

.apexcharts-tooltip-title {
    background-color: var(--secondary-background-color) !important;
    border-bottom: 1px solid var(--border-color) !important;
}

/* https://github.com/apexcharts/apexcharts.js/issues/1620 */
.apexcharts-tooltip-title:empty {
    display: none;
}
