@import 'normalize', 'loader', 'auth', 'header', 'cups', 'tournaments',
    'participations', 'races', 'statistics', 'podiums', 'users', 'patchNotes',
    'footer', 'settings', 'theme', 'charts', 'plugins';

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

html,
body,
#root,
.container {
    background-color: var(--main-background-color);
}

body,
button {
    font-family: 'Nunito', sans-serif;
    color: var(--main-text-color);
}

img {
    max-width: 100%;
    max-height: 100%;
}

label {
    cursor: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    transition: all 0.3s ease;
}

strong:hover {
    cursor: pointer;
    color: var(--main-color);
}

input,
textarea {
    box-sizing: border-box;
    margin-top: 0.5rem;
    padding: 0.75rem 1.5rem;
    color: var(--main-text-color);
    background-color: var(--secondary-background-color);
    border: 1px solid transparent;
    border-radius: 6px;
    width: 100%;
    transition: all 0.2s ease;
    transition-property: border, background-color;
}

input:focus,
textarea:focus {
    background-color: transparent;
    border: 1px solid var(--main-color);
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: var(--tertiary-text-color);
}

.--noTransition {
    transition: none !important;
}

.btnPrimary {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease, visibility 0s;
}

.btnPrimary:not(:disabled):hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.btnPrimary:not(:disabled):hover,
.btnPrimary:not(:disabled):focus {
    cursor: pointer;
    background-color: var(--main-color-dark);
}

.btnPrimary:disabled {
    background-color: var(--main-color-light);
    cursor: initial;
}

.btnSecondary {
    background-color: var(--main-background-color);
    color: var(--main-color);
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.btnSecondary:not(:disabled):hover,
.btnSecondary:not(:disabled):focus {
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.inputErrorMessage {
    margin: 0.5rem 0;
    color: var(--error-color);
}

.inputInvalid {
    background-color: transparent;
    border-color: var(--error-color);
}

.inputWrapper {
    margin: 2rem 0;
}

.inputLabel {
    font-weight: bold;
    display: block;
}

.inputCheckboxWrapper {
    margin-top: 0.5rem;
}

.inputCheckboxWrapper > input[type='checkbox'] {
    display: none;
}

.typeahead {
    position: relative;
}

.typeahead__suggestionsWrapper {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 6px;
    background-color: var(--main-background-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.typeahead__message {
    padding: 0.75rem 1.5rem;
    margin: 0;
}

.typeahead__suggestionsWrapper ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.typeahead__suggestionsWrapper li {
    list-style: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}

.typeahead__suggestionsWrapper li:hover,
.typeahead__suggestionsWrapper li:focus {
    background-color: var(--secondary-background-color);
    border: none;
    outline: none;
}

.text-- {
    &error {
        color: var(--error-color);
    }

    &success {
        color: var(--success-color);
    }
}

.formMessage {
    color: white;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 4px;

    &--center {
        text-align: center;
    }

    &__error {
        background-color: var(--error-color);
    }

    &__success {
        background-color: var(--success-color);
    }

    &__info {
        background-color: var(--main-color);
    }
}

hr {
    border: none;
    height: 1px;
    color: var(--border-color);
    background-color: var(--border-color);
}

table {
    width: 100%;
}

.app__container {
    margin: 3rem 0 0 0;
}

.title--noMarginTop {
    margin-top: 0;
}

.primaryLink {
    transition: color 0.3s ease;
}

.primaryLink:hover {
    color: var(--main-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 2.7rem;
    height: 1.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    background-color: var(--border-color);
    transition: 0.2s ease;
}

.slider:before {
    position: absolute;
    content: '';
    height: 1.25rem;
    width: 1.25rem;
    left: 0.15rem;
    bottom: 0.15rem;
    background-color: white;
    transition: 0.2s ease;
}

input:checked + .slider {
    background-color: var(--main-color);
}

input:checked + .slider:before {
    transform: translateX(1.15rem);
}

.slider.round {
    border-radius: 2rem;
}

.slider.round:before {
    border-radius: 100%;
}
