@import 'normalize', 'variables', 'loader', 'auth', 'header', 'cups',
    'tournaments', 'participations', 'races', 'statistics', 'podiums', 'users',
    'patchNotes', 'footer';

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

body,
button {
    font-family: 'Nunito', sans-serif;
    color: $main-text-color;
}

img {
    max-width: 100%;
    max-height: 100%;
}

label {
    cursor: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea {
    box-sizing: border-box;
    margin-top: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #f3f3f4;
    border: 1px solid transparent;
    border-radius: 6px;
    width: 100%;
    transition: all 0.2s ease;
    transition-property: border, background-color;
}

input:focus,
textarea:focus {
    background-color: transparent;
    border: 1px solid $main-color;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

.btnPrimary {
    background-color: $main-color;
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease, visibility 0s;
}

.btnPrimary:not(:disabled):hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.btnPrimary:not(:disabled):hover,
.btnPrimary:not(:disabled):focus {
    cursor: pointer;
    background-color: $main-color-dark;
}

.btnPrimary:disabled {
    background-color: #fda3cf;
    cursor: initial;
}

.btnSecondary {
    background-color: white;
    color: $main-color;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.btnSecondary:not(:disabled):hover,
.btnSecondary:not(:disabled):focus {
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.inputErrorMessage {
    margin: 0.5rem 0;
    color: $error-color;
}

.inputInvalid {
    background-color: transparent;
    border-color: $error-color;
}

.inputWrapper {
    margin: 2rem 0;
}

.inputLabel {
    font-weight: bold;
    display: block;
}

.typeahead {
    position: relative;
}

.typeahead__suggestionsWrapper {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.typeahead__message {
    padding: 0.75rem 1.5rem;
    margin: 0;
}

.typeahead__suggestionsWrapper ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.typeahead__suggestionsWrapper li {
    list-style: none;
    padding: 0.75rem 1.5rem;
}

.typeahead__suggestionsWrapper li:hover {
    cursor: pointer;
    background-color: #f3f3f4;
}

.text-- {
    &error {
        color: $error-color;
    }

    &success {
        color: $success-color;
    }
}

.formMessage {
    color: white;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 4px;

    &--center {
        text-align: center;
    }

    &__error {
        background-color: $error-color;
    }

    &__success {
        background-color: $success-color;
    }

    &__info {
        background-color: $main-color;
    }
}

hr {
    border: none;
    height: 1px;
    color: #e6e6e6;
    background-color: #e6e6e6;
}

table {
    width: 100%;
}

.app__container {
    margin: 3rem 0 0 0;
}

.app__container:last-of-type {
    margin-bottom: 5em;
}

.title--noMarginTop {
    margin-top: 0;
}

.primaryLink {
    transition: color 0.3s ease;
}

.primaryLink:hover {
    color: $main-color;
}

.switch {
    position: relative;
    display: inline-block;
    width: 2.7rem;
    height: 1.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    background-color: #ccc;
    transition: 0.2s ease;
}

.slider:before {
    position: absolute;
    content: '';
    height: 1.25rem;
    width: 1.25rem;
    left: 0.15rem;
    bottom: 0.15rem;
    background-color: white;
    transition: 0.2s ease;
}

input:checked + .slider {
    background-color: $main-color;
}

input:checked + .slider:before {
    transform: translateX(1.15rem);
}

.slider.round {
    border-radius: 2rem;
}

.slider.round:before {
    border-radius: 100%;
}
