.participation {
    margin-top: 3.5rem;
    text-align: center;
}

.participation__infos--skeleton {
    margin: 0.5rem 0;
}

.participation__chart {
    border: 1px solid var(--border-color);
    border-radius: 6px;
    margin-bottom: 0.5rem;
}

.participation__chartLegends,
.participation__chartLegends--skeleton {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.participation__chartLegends {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.participation__chartLegendWrapper {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.participation__chartLegend {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.participation__chartLegend--hidden {
    text-decoration: line-through;
}

.participation__chartLegendColor {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 4px;
}

.participation__chartLegendDelete {
    color: var(--error-color);
    cursor: pointer;
}

.participation__chart--skeleton {
    margin-bottom: 1rem;
}

.participation__title {
    color: var(--main-color);
    margin-bottom: 0.5rem;
    padding: 0 1rem;
}

.participation__comparison,
.participation__race {
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 6px;
    border: 1px solid var(--border-color);
}

.participation__comparison--skeleton,
.participation__comparison {
    margin-bottom: 3.5rem;
}

.participation__race--skeleton {
    padding: 0.75rem 0;
    margin: 0.5rem 0;
}

.participation__addComparison,
.participation__addRace,
.participation__addGoal {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.participation__addComparison:hover,
.participation__addRace:hover,
.participation__addGoal:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.participation__addComparisonBtn,
.participation__addRaceBtn {
    color: var(--main-color);
    margin-right: 1rem;
}

.participation__addComparisonForm,
.participation__addRaceForm {
    text-align: start;
}

.participation__disconnectedRace {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--error-color);
    color: white;
    height: 20px;
    width: 20px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.participation__disconnectedRace > svg {
    width: 20px;
    height: 14px;
}

.participation__goal {
    padding: 0 1rem;
    margin: 0.5rem 0;
    border-radius: 6px;
    border: 1px solid var(--border-color);
}

.participation__addGoalForm {
    padding: 1rem 0;
}
