.users__filter {
    margin-bottom: 1.5rem;
}

.users__titleWrapper {
    padding: 0 1rem;
}

.users__title {
    color: var(--main-color);
    margin-bottom: 0.5rem;
    text-align: center;
}

.users__title > div:first-child {
    text-align: left;
}

.users__userWrapper {
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 1rem;
    margin: 0.5rem 0;
}

.users__user--skeleton {
    padding: 1rem 0;
    margin: 0.5rem 0;
}

.users__user {
    text-align: center;
}

.users__user > div:first-child {
    text-align: left;
}

.userTitle {
    margin-top: 0;
}

.userMenu__wrapper {
    margin-bottom: 1.5em;
}

.userMenu__navListItem {
    padding: 0.25em 0;
}

.userMenu__navListItem--active {
    color: var(--main-color);
}
