.home__buttons {
    margin-top: 3rem;
}

.tournament__title,
.tournamentsList__title {
    margin-top: 3rem;
}

.tournament__podium,
.tournamentsList__tournament {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 6px;
    text-align: center;
    border: 1px solid var(--border-color);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.tournament__podium:hover,
.tournamentsList__tournament:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.tournamentsList__tournament--skeleton {
    margin: 1rem 0;
    padding: 2rem 0rem;
}

.tournamentsList__tournamentName {
    margin: 0;
    margin-bottom: 0.25rem;
}

.tournamentsList__tournamentDates {
    cursor: pointer;
    color: var(--tertiary-text-color);
    font-style: italic;
}

.tournament__infos {
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 0 1rem;
    margin: 0.5rem 0;
}

.tournament__infos--skeleton {
    margin: 0.5rem 0;
}

.tournament__info {
    margin: 1rem 0;
}

.tournament__info > label {
    color: var(--tertiary-text-color);
}

.tournament__info > h4 {
    margin: 0.5rem 0 0 0;
}
