.app__container .statistics__title:nth-of-type(n + 2) {
    margin-top: 3rem;
}

.statistics__paginationWrapper {
    display: flex;
    align-items: center;
}

.statistics__pagination {
    margin: 0 0.5em;
    min-width: 5.5em;
}
