footer {
    margin-top: 5rem;
    flex-shrink: 0;
    text-align: center;
    border-top: 1px solid var(--border-color);
    padding: 2rem;
    background-color: var(--main-background-color);
}

.footer__links {
    & a {
        margin: 0 1em;
    }
    & a:first-of-type {
        margin-left: 0;
    }
    & a:last-of-type {
        margin-right: 0;
    }
}

.footer__logo {
    width: 3rem;
    height: 3rem;
}
